Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -modernize-use-trailing-return-type,
  -modernize-macro-to-enum,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-optional-access,
  -performance-enum-size,
  -clang-analyzer-optin.core.EnumCastOutOfRange

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/build[^/]*/_deps/.*'
